<p-toast position="top-center"></p-toast>
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo"/></span>
                <h5 class="font-medium m-b-20">Demande d'adhésion</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)" >
                        <div class="form-group row">
                            <div class="col-12 ">
                                <!-- <input class="form-control form-control-lg" name="login" type="text" required=" " placeholder="login" #login="ngModel" [(ngModel)]="userService.selectedUser.login"> -->
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="login" type="text" pattern="^[a-zA-Z ]+[1-9]*.*$" required size="30" #login="ngModel" [(ngModel)]="userService.selectedUser.login" pInputText> 
                                    <label class="h5" for="float-input">Login</label>
                                </span>
                            </div>
                            <div class="col-12 " *ngIf="login.invalid && login.touched">
                                <div>
                                    <span class="text-danger"  *ngIf="login.errors.required">Login is required</span>
                                </div>
                                <div>
                                    <span class="text-danger" *ngIf="login.errors.pattern">unvalid login</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="password" type="password" required minlength="8" size="30" #password="ngModel" [(ngModel)]="userService.selectedUser.password" pInputText> 
                                    <label class="h5" for="float-input">Password</label>
                                </span>
                                <!-- <input class="form-control form-control-lg" type="password" name="password" required=" " placeholder="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password"> -->
                            </div>
                             <div class="col-12 " *ngIf="password.invalid && password.touched">
                                 <div>                                
                                     <span class="text-danger" *ngIf="password.errors.required">Password is required</span>
                                </div>
                                <div>
                                     <span class="text-danger" *ngIf="password.errors.minlength">Password must be at least 8 characters long</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <!-- <input class="form-control form-control-lg" name="login" type="text" required=" " placeholder="login" #login="ngModel" [(ngModel)]="userService.selectedUser.login"> -->
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="firstName"  type="text" pattern="^[a-zA-Z ]+$" required size="30" #firstName="ngModel" [(ngModel)]="userService.selectedUser.firstName" pInputText> 
                                    <label class="h5" for="float-input">First Name</label>
                                </span>
                            </div>
                            <div class="col-12" *ngIf="firstName.invalid && firstName.touched">
                                <div>
                                    <span class="text-danger" *ngIf="firstName.errors.required">First Name is required</span>
                                </div>
                                <div>
                                    <span class="text-danger" *ngIf="firstName.errors.pattern">Invalid First Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <!-- <input class="form-control form-control-lg" name="login" type="text" required=" " placeholder="login" #login="ngModel" [(ngModel)]="userService.selectedUser.login"> -->
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="lastName" type="text" pattern="^[a-zA-Z ]+$" required size="30" #lastName="ngModel" [(ngModel)]="userService.selectedUser.lastName" pInputText> 
                                    <label class="h5" for="float-input">Last Name</label>
                                </span>
                            </div>
                            <div class="col-12" *ngIf="lastName.invalid && lastName.touched">
                                <div>
                                    <span class="text-danger" *ngIf="lastName.errors.required">Last Name is required</span>
                                </div>
                                <div>
                                    <span class="text-danger" *ngIf="lastName.errors.pattern">Invalid Last Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <!-- <input class="form-control form-control-lg" name="login" type="text" required=" " placeholder="login" #login="ngModel" [(ngModel)]="userService.selectedUser.login"> -->
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="adress" type="text"  required size="30" #adress="ngModel" [(ngModel)]="userService.selectedUser.adress" pInputText> 
                                    <label class="h5" for="float-input">Adress</label>
                                </span>
                            </div>
                            <div class="col-12 ">
                                <span class="text-danger" *ngIf="adress.invalid && adress.touched">Adress is required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="society" type="text" pattern="^[a-zA-Z ]+[1-9]*.*$" required size="30" #society="ngModel" [(ngModel)]="userService.selectedUser.society" pInputText> 
                                    <label class="h5" for="float-input">Society</label>
                                </span>
                                <!-- <input class="form-control form-control-lg" type="text" required=" " name="society" placeholder="society" #society="ngModel" [(ngModel)]="userService.selectedUser.society"> -->
                            </div>
                             <div class="col-12 " *ngIf="society.invalid && society.touched">
                                 <div>
                                    <span class="text-danger" *ngIf="society.errors.required">Society is required</span>
                                </div>
                                <div>
                                    <span class="text-danger" *ngIf="society.errors.pattern">Society is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="activity" type="text" pattern="^[a-zA-Z ]+[1-9]*.*$" required size="30" #activity="ngModel" [(ngModel)]="userService.selectedUser.activity" pInputText> 
                                    <label class="h5" for="float-input">Activity</label>
                                </span>
                                <!-- <input class="form-control form-control-lg" type="text" required=" " name="activity" placeholder="activity" #activity="ngModel" [(ngModel)]="userService.selectedUser.activity"> -->
                            </div>
                            <div class="col-12 " *ngIf="activity.invalid && activity.touched">
                                <div>
                                    <span class="text-danger" *ngIf="activity.errors.required">Activity is required</span>
                                </div>
                                <div>
                                    <span class="text-danger" *ngIf="activity.errors.pattern">invalid Activity</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="phone" type="text" required pattern="^[0-9]{8}$" size="30" #phone="ngModel" [(ngModel)]="userService.selectedUser.phone" pInputText> 
                                    <label class="h5" for="float-input">Phone</label>
                                </span>
                                <!-- <input class="form-control form-control-lg" type="text" required=" " name="phone" placeholder="phone" #phone="ngModel" [(ngModel)]="userService.selectedUser.phone"> -->
                            </div>
                            <div class="col-12 " *ngIf="phone.invalid && phone.touched">
                                <div>                                
                                    <span class="text-danger" *ngIf="phone.errors.required">Phone is required</span>
                               </div>
                               <div>
                                    <span class="text-danger" *ngIf="phone.errors.pattern">Phone must be a valid phone number</span>
                               </div>
                            </div>
                        </div>
                        <div class="form-group row has-error">
                            <div class="col-12 ">
                                <span class="ui-float-label">
                                    <input id="float-input" class="form-control form-control-lg" name="mail" type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" size="30" #mail="ngModel" [(ngModel)]="userService.selectedUser.mail" pInputText> 
                                    <label class="h5" for="float-input">Mail</label>
                                </span>
                                <!-- <input class="form-control form-control-lg" type="mail" required=" " name="mail" placeholder="mail" #mail="ngModel" [(ngModel)]="userService.selectedUser.mail"> -->
                            </div>
                            <div class="col-12 " *ngIf="mail.invalid && mail.touched">
                                <div>                                
                                    <span class="text-danger" *ngIf="mail.errors.required">Mail is required</span>
                               </div>
                               <div>
                                    <span class="text-danger" *ngIf="mail.errors.pattern">mail must be a valid address</span>
                               </div>
                           </div>
                        </div>
                         <div class="form-group row">
                            <div class="col-12 ">
                                <button class="form-control form-control-lg" name="image" #image="ngModel" [(ngModel)]="userService.selectedUser.image" type="button" (click) = "FilePicker.click()">upload</button>
                                <input accept="image/*" type="file" #FilePicker (change)="onImagePick($event)">
                            </div>
                        </div>
                        <div class="p-grid" *ngIf="imagePreview !==''&&imagePreview">
                            <div class="p-col"></div>
                            <div class="p-col img-prv">
                                <img [src]="imagePreview">
                            </div>
                            <div class="p-col"></div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                              <input type="hidden" name="etat" #etat="ngModel" [(ngModel)]="userService.selectedUser.etat"  value="en attente">
                                <input class="btn btn-block btn-lg btn-info" [disabled]="!signUpForm.valid" type="submit" value="signup">
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                Already have an account? <a href="#/authentication/login " class="text-info m-l-5 "><b>Sign In</b></a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
