<div class="card ">
    <div class="card-body" style="
    height: 463px">
        <h4 class="card-title">Les abonnements</h4>
        <div id="visitor" style="height:253px; width:100%;" class="m-t-20"></div>
        <!-- row -->
        <div class="row m-t-30 m-b-15">
            <!-- column -->
            <div class="col-4 birder-right text-left">
                <h4 class="m-b-0">{{paye}}
                    <small>
                        <i class="ti-arrow-up text-success"></i>
                    </small>
                </h4>Réservés</div>
            <!-- column -->
            <div class="col-4 birder-right text-center">
                <h4 class="m-b-0">{{nonpaye}}
                    <small>
                        <i class="ti-arrow-down text-danger"></i>
                    </small>
                </h4>Non réservés</div>
            <!-- column -->
            <div class="col-4 text-right">
                <h4 class="m-b-0">{{refuse}}
                    <small>
                        <i class="ti-arrow-up text-success"></i>
                    </small>
                </h4>Réfusés</div>
        </div>
    </div>
</div>