<p-toast></p-toast>
<p-toast position="center" key="d" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Oui" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="Annuler" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Modifier Ajouter et Supprimer des Abonements</h4>
              <h6 class="card-subtitle">Liste Des Abonements.</h6>
              <div class="table table-responsive smart-table">
                  <ng2-smart-table [settings]="settings" (userRowSelect)="test($event)" [source]="source" class="" (editConfirm)="updateRecord($event)" (deleteConfirm)="showConfirmToDeleteAbonnement($event)"></ng2-smart-table>
              </div>
          </div>
      </div>
</div>

    <div *ngIf="services.length > 0" class="card col-12">
            <div class="card-body">
                <h4 class="card-title">Services non terminés de l'abonnement</h4>
                <h6 class="card-subtitle"></h6>
    
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Libellé</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Description</th>
                                <th scope="col">Etat</th>
                            </tr>
                        </thead>
                        <tbody>
    
                            <tr *ngFor="let us of services" >
                                <td *ngIf="us.state == 'NOT DONE'">{{us.name}}</td>
                                <td *ngIf="us.state == 'NOT DONE'">{{us.price}}</td>
                                <td *ngIf="us.state == 'NOT DONE'">{{us.description}}</td>
                                <td *ngIf="us.state == 'NOT DONE'">{{us.state}}</td>
                                <td *ngIf="us.state == 'NOT DONE'">
                                    <a (click)="add(us)">
                                        <i class="ti-thumb-up text-info m-r-10"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>


    <div *ngIf="services.length > 0" class="card col-12">
        <div class="card-body">
            <h4 class="card-title">Services terminé de l'abonnement</h4>
            <h6 class="card-subtitle"></h6>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Libellé</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Description</th>
                            <th scope="col">Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of services" >
                            <td *ngIf="us.state == 'DONE'">{{us.name}}</td>
                            <td *ngIf="us.state == 'DONE'">{{us.price}}</td>
                            <td *ngIf="us.state == 'DONE'">{{us.description}}</td>
                            <td *ngIf="us.state == 'DONE'">{{us.state}}</td>
                            <td *ngIf="us.state == 'DONE'">
                                <a (click)="remove(us)">
                                    <i class="ti-close text-danger m-r-10"></i>
                                </a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  <hr>
  <!--<div *ngIf="allservices.length > 0 "  class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Add New Service</h4>
              <h6 class="card-subtitle"></h6>
    
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">name</th>
                              <th scope="col">price</th>
                              <th scope="col">description</th>
                          </tr>
                      </thead>
                      <tbody>
    
                          <tr  *ngFor="let us of allservices">
    
                              <td>{{us.name}}</td>
                              <td>{{us.price}}</td>
                              <td>{{us.description}}</td>
                              <td>
                                  <a (click)="AddServiceToPackage(us)">
                                      <i class="ti-thumb-up text-info m-r-10"></i>
                                  </a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              </div>
    </div></div> -->
