<p-toast></p-toast>
<p-toast position="center" key="d" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Oui" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="Annuler" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="center" key="c" (onClose)="onRejectacc()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirmacc()" label="Oui" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onRejectacc()" label="Annuler" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h6 class="card-subtitle"></h6>
              <h6 class="card-title m-t-40">
                  <i class="m-r-5 font-18 mdi mdi-numeric-1-box-multiple-outline"></i> </h6>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Nom</th>
                              <th scope="col">Fournisseur</th>
                              <th scope="col">Client</th>
                              <th scope="col">Prix</th>
                              <th scope="col">Etat</th>
                              <th scope="col">Date</th>
    
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngIf="AbonementService.Abonnements.length == 0">
                              <p>Il n'ya pas des abonements en attente </p>
                        </tr>
                          <tr *ngFor="let us of AbonementService.Abonnements">

                              <td>{{us.name}}</td>
                              <td>{{us.fournisseur}}</td>
                              <td>{{us.client}}</td>
                              <td>{{us.price}}</td>
                              <td>{{us.etat}}</td>
                              <td>{{us.date}}</td>
                              <td>
                              <a (click)="showConfirmToAcceptAbonnement(us)">
                                <i class="ti-thumb-up text-info m-r-10"></i>
                              </a>
                              <a (click)="showConfirmToDeleteAbonnement(us)">
                                <i class="ti-close text-danger m-r-10"></i>
                              </a>
                              </td>
    
                          </tr>
    
                      </tbody>
                  </table>
              </div>
              </div>
    </div>
    
    </div>
    </div>
    