<p-toast></p-toast>
<div class="row">
<div class="col-12">
  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Demande d'adhésion</h4>
          <h6 class="card-subtitle"></h6>
          <h6 class="card-title m-t-40">
              <i class="m-r-5 font-18 mdi mdi-numeric-1-box-multiple-outline"></i> Liste des fournisseurs en attente</h6>
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Login</th>
                          <th scope="col">Society</th>
                          <th scope="col">Activity</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Mail</th>
                          <th scope="col">Action</th>


                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngIf="userService.users == []">
                          <p>No Fournisseurs En Attente </p>
                    </tr>
                      <tr *ngFor="let us of userService.users">

                          <td>{{us.login}}</td>
                          <td>{{us.society}}</td>
                          <td>{{us.activity}}</td>
                          <td>{{us.phone}}</td>
                          <td>{{us.mail}}</td>
                          <td>
                          <a (click)="onAccept(us)">
                            <i class="ti-thumb-up text-info m-r-10"></i>
                          </a>
                          <a (click)="onRefus(us)">
                            <i class="ti-close text-danger m-r-10"></i>
                          </a>
                          </td>

                      </tr>

                  </tbody>
              </table>
          </div>
          </div>
</div>

</div>
</div>
